<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img src="../../../assets/ticket.png" class="logoTicket" alt="">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <span>&nbsp;&nbsp;&nbsp;</span>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <a class="nav-item nav-link" routerLink="/disponibles" routerLinkActive="active">Disponibles</a>
            <a class="nav-item nav-link" routerLink="/reservados" routerLinkActive="active">Reservados</a>
            <a class="nav-item nav-link" routerLink="/comprados" routerLinkActive="active">Comprados</a>

        </ul>

    </div>

    <form class="form-inline my-2 my-lg-0">
        Reiniciar Tickets: &nbsp;&nbsp;
        <input class="form-control mr-sm-2 entrada form-control-sm" type="number" min="1" placeholder="cantidad" aria-label="Search" [ngModel]="numeroDeInput" name="numeroDeInput" (ngModelChange)="numeroDeInput=$event">
        <button class="btn btn-outline-danger btn-sm my-2 my-sm-0" type="button" routerLink="/disponibles" routerLinkActive="active" (click)="iniciarTickets()">Aceptar</button>
    </form>
</nav>